@import "/src/vars.scss";
.services {
  display: grid;
  place-items: center;
  width: 100%;
  background: $surface2-dark;
  padding: 124px 0;
  .content {
    max-width: 1440px;
    display: grid;
    row-gap: 64px;
    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 24px;
      p {
        max-width: 800px;
        width: auto;
        text-align: center;
        color: $text1-dark;
        font-size: 16px;
        line-height: 28px;
      }
    }
    .targets {
      width: 100%;
      justify-content: center;
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      gap: 64px;
      .targetService {
        display: grid;
    
        row-gap: 36px;
        align-items: center;
        .icon {
          display: flex;
          justify-self: center;
        }
        span {
          color: $text1-dark;
          font-weight: 700;
          font-size: 22px;
          line-height: 28px;
        }
      }
    }
  }
}
