.details {
  display: grid;
  width: 100%;
  place-items: center;
  padding: 124px 0;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    row-gap: 64px;
    padding: 0 48px;
    width: 100%;
    .info {
      display: flex;
      flex-direction: column;
      row-gap: 24px;
      h1{
          text-align: center;
      }
      p {
        max-width: 800px;
        text-align: center;
      }
    }
    .targets {
      display: grid;
      width: 100%;
      justify-content: center;
      grid-template-columns: repeat(auto-fit, minmax(300px, 460px));
      gap: 48px;
      .targetDetail{
          display: flex;
          column-gap: 24px;
         align-items: center;
         p{
             max-width: 370px;
         }
      }
    }
  }
}
